<!-- Modal -->
<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newModalLabel">New Channel</h5>
      
      </div>
      <div class="modal-body">
      <%= render 'form', channel: Channel.new %>
      </div>
      
    </div>
  </div>
</div>
<div class="row showContainer" data-controller="channel" data-channel-id="<%= @channel.id %>">
  <div class="col-sm-2 sidebar">
    <%= render "shared/sidebar" %>
  </div>

  <div class="col-sm-9 relativee">
    <div class="d-flex justify-content-between sticky-top bg-white border-bottom pt-2">
      <h2><strong>#<%= @channel.name %></strong></h3>

      <div>
        <%= link_to "Leave", channel_channel_user_path(@channel), method: :delete, class: "linkk btn btn-link" %>
      </div>
    </div>

    <div data-target="channel.messages" class="bg-white messageB">
      <%= render @channel.messages %>
    </div>

  </div>

  <div class="fixed-bottom row">
    
      <% if current_user.channels.include?(@channel) %>
      <div class="col-sm-9 offset-sm-2 p-2 bg-white" >
        <%= form_with model: [@channel, Message.new], data: { action: "ajax:success->channel#clearMessage" } do |form| %>
          <%= form.text_field :body, placeholder: "Message ##{@channel.name}", class: "form-control", data: { target: "channel.newMessage" } %>
        <% end %>
      </div>  

      <% else %>
      <div class="joinLink offset-sm-2">
          <%= link_to "Join #{@channel.name}", channel_channel_user_path(@channel), method: :post, class: 'linkRed' %>
      </div>
      <% end %>
      
  </div>
</div>
